@import url('https://simbo.codes/css-reset-and-normalize/reset-and-normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

body {
	color: #000032;
	background: #eef;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: .015em;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-text-rendering: optimizeLegibility;
	-moz-font-smoothing: antialiased;
	-moz-text-rendering: optimizeLegibility;
}
.Canvas {
	width: 100%;height:400px;
	background-image: linear-gradient(to right top, #6c81a2, #6a9bae, #7eb1b1, #a2c5b1, #cdd6b9);
	cursor: pointer;
}
.Textarea {
	border: 2px solid #dde;
	display: block;
	width: 100%;
	margin-top: 12px;
	padding: 16px;
	resize: vertical;
}
